@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 50px;

}
h1 {
        font-family: "Inria Sans", sans-serif;
        font-weight: 500;
        font-style: normal; 
        padding: 10px 0px 10px 0px;
}
h3{
    color: aqua;
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    font-style: normal; 
    padding: 10px 0px 10px 0px;
}
h4{
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    font-style: normal; 
    color: greenyellow;
    padding: 10px 0px 10px 0px;
}
p,ul,ol{
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    font-style: normal; 
    padding: 10px 0px 10px 0px;  
}